<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.healthmanagement.repository.AccountRepository">
	
	<resultMap type="com.portfolio.healthmanagement.entity.User" id="userMap">
		<id property="userId" column="user_id"/>
		<result property="username" column="username"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="birthDate" column="birth_date" />
		<result property="provider" column="provider"/>
		<result property="profile" column="profile"/>
	</resultMap>
	
	
	<select id="getUserInfo" parameterType="Integer" resultMap="userMap">
		select
			user_id,
			username,
			password,
			name,
			phone,
			email,
			birth_date,
			profile
		from
			user_tb
		where
			user_id = #{userId}
	</select>
	
	<update id="modifyUser" parameterType="com.portfolio.healthmanagement.entity.User">
		update user_tb
		set
			phone = #{phone},
			name = #{name}
		where
			user_id = #{userId}
	</update>
	
	<update id="modifyPassword" parameterType="hashmap">
		update user_tb
		set
			password = #{password}
		where
			user_id = #{userId}
	</update>
	
	
	<delete id="deleteUser" parameterType="Integer">
		delete 
		from 
			user_tb
		where 
			user_id = #{userId}
	</delete>

</mapper>
